# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
*-build-*
simulator-*/
qemu-*-*/

# External repo dependencies
moedict-data/
moedict-epub/

# Working files
data/
build/dict-revised.*.json
