[Desktop Entry]
Encoding=UTF-8
Version=14.3.12
Type=Application
Terminal=false
Name=MoeDict
Name[zh]=萌典
Exec=/usr/bin/invoker --type=d -s /opt/moedictmeego/bin/moedictmeego
Icon=/usr/share/icons/hicolor/80x80/apps/moedictmeego80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
