[Desktop Entry]
Encoding=UTF-8
Version=14.3.12
Type=Application
Terminal=false
Name=MoeDict
Name[zh]=萌典
Exec=/opt/moedictmeego/bin/moedictmeego
Icon=moedict-meego64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
